{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Z33 :: {% block title %}{% endblock %}</title>
  <link href="{% static 'styles/main.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'images/logo.svg' %}" rel="shortcut icon" type="image/svg+xml">
  {% block head %}{% endblock %}
</head>
<body>
<header>
  <div class="flat">
    <a href="/"><img alt="Logo" height="100rem" src="{% static 'images/logo.svg' %}"></a>
    <a href="/"><h1>Study Project Z33</h1></a>
  </div>
  <nav>
    <p><a href="{% url "admin:index" %}"><span>/a</span></a></p>
    <p><a href="{% url "home:index" %}"><span>/news</span></a></p>
    <p><a href="{% url "hello:index" %}"><span>/h</span></a></p>
    <p><a href="{% url "blog:index" %}"><span>/b</span></a></p>
    <p><a href="{% url "bots:index" %}"><span>/bots</span></a></p>
  </nav>
</header>
<main>
  {% block main %}{% endblock %}
</main>
</body>
</html>