{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Z33 :: {% block title %}{% endblock %}</title>
  <link href="{% static 'styles/main.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'images/logo.png' %}" rel="shortcut icon" type="image/png+xml">
  {% block head %}{% endblock %}
</head>
<body>
<script class="time" language="javascript" type="text/javascript"><!--
var d = new Date();

var day=new Array("Воскресенье","Понедельник","Вторник",
"Среда","Четверг","Пятница","Суббота");

var month=new Array("января","февраля","марта","апреля","мая","июня",
"июля","августа","сентября","октября","ноября","декабря");

document.write(day[d.getDay()]+" " +d.getDate()+ " " + month[d.getMonth()]
+ " " + d.getFullYear() + " г.");
//--></script>
<header>
  <div class="flat">
    <a href="/"><img alt="Logo" height="100rem" src="{% static 'images/logo.png' %}"></a>
    <a href="/"><h1>Salut</h1></a>
  </div>
  <nav>
    <p><a href="{% url "home:index" %}"><span>About</span></a></p>
    <p><a href="{% url "hello:index" %}"><span>"Hello" app</span></a></p>
  </nav>
  <form action="/theme" method="post">
    <button type="submit">Switch theme</button>
  </form>
</header>
<main>
    {% block main %}{% endblock %}
</main>
</body>
</html>
