{% extends "_base.html" %}
{% load static %}
{% block title %}Home page{% endblock %}
{% block main %}
<article>
	<div class="top">
		<ul><a class="main" href="/"><b>Главная</b></a>
		<a class="catalog" href="/catalog"><b>Каталог</b></a>
		<a class="delivery" href="/delivery"><b>Доставка и оплата</b></a>
		<a class="discounts" href="/discounts"><b>Скидки и акции</b></a>
		<a class="wholesale" href="/wholesale"><b>Оптовым клиентам</b></a>
		<a class="articles" href="/articles"><b>Статьи</b></a>
		<a class="contacts" href="/contacts"><b>О компании</b></a></ul>
	</div>
	<div  class="search">
		<input type="text" name="товар" id="search">
		<button type="submit" id="search-button-id">Поиск</button>
	</div>
</article>
{% endblock %}