{% load static %}
<html>
<head>
  <title>Z33</title>
  <link href="{% static 'styles/main.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'images/logo.svg' %}" rel="shortcut icon" type="image/svg+xml">
</head>
<body>
<header>
  <div class="flat">
    <a href="/"><img alt="Logo" height="100rem" src="{% static 'images/logo.svg' %}"></a>
    <a href="/"><h1>Study Project Z33</h1></a>
  </div>
  <nav>
    <p><a href="/"><span>About</span></a></p>
    <p><a href="/hello"><span>"Hello" app</span></a></p>
  </nav>
</header>
<main>
  <article>
    <section>
      <h2>Progress</h2>
      <label for="progress">Lessons passed:</label>
      <progress id="progress" max="26" value="20">76%</progress>
      <div class="calendar">
        <div class="week">
          <p class="past">13.07</p>
          <p class="past">14.07</p>
          <p class="past">15.07</p>
          <p class="past">16.07</p>
          <p class="lesson past">17.07</p>
          <p class="past">18.07</p>
          <p class="past">19.07</p>
        </div>
        <div class="week">
          <p class="past">20.07</p>
          <p class="past">21.07</p>
          <p class="lesson past">22.07</p>
          <p class="past">23.07</p>
          <p class="lesson past">24.07</p>
          <p class="past">25.07</p>
          <p class="past">26.07</p>
        </div>
        <div class="week">
          <p class="past">27.07</p>
          <p class="past">28.07</p>
          <p class="lesson past">29.07</p>
          <p class="past">30.07</p>
          <p class="lesson past">31.07</p>
          <p class="past">01.08</p>
          <p class="past">02.08</p>
        </div>
        <div class="week">
          <p class="past">03.08</p>
          <p class="past">04.08</p>
          <p class="lesson past">05.08</p>
          <p class="past">06.08</p>
          <p class="lesson past">07.08</p>
          <p class="past">08.08</p>
          <p class="wrw">09.08</p>
        </div>
        <div class="week">
          <p class="wrw">10.08</p>
          <p class="wrw">11.08</p>
          <p class="wrw">12.08</p>
          <p class="wrw">13.08</p>
          <p class="wrw">14.08</p>
          <p class="wrw">15.08</p>
          <p class="wrw">16.08</p>
        </div>
        <div class="week">
          <p class="past">17.08</p>
          <p class="past">18.08</p>
          <p class="lesson past">19.08</p>
          <p class="past">20.08</p>
          <p class="lesson past">21.08</p>
          <p class="past">22.08</p>
          <p class="past">23.08</p>
        </div>
        <div class="week">
          <p class="past">24.08</p>
          <p class="past">25.08</p>
          <p class="lesson past">26.08</p>
          <p class="past">27.08</p>
          <p class="lesson past">28.08</p>
          <p class="past">29.08</p>
          <p class="past">30.08</p>
        </div>
        <div class="week">
          <p class="past">31.08</p>
          <p class="past">01.09</p>
          <p class="lesson past">02.09</p>
          <p class="past">03.09</p>
          <p class="lesson past">04.09</p>
          <p class="past">05.09</p>
          <p class="past">06.09</p>
        </div>
        <div class="week">
          <p class="past">07.09</p>
          <p class="past">08.09</p>
          <p class="lesson past">09.09</p>
          <p class="past">10.09</p>
          <p class="lesson past">11.09</p>
          <p class="past">12.09</p>
          <p class="past">13.09</p>
        </div>
        <div class="week">
          <p class="past">14.09</p>
          <p class="past">15.09</p>
          <p class="lesson past">16.09</p>
          <p class="past">17.09</p>
          <p class="lesson past">18.09</p>
          <p class="past">19.09</p>
          <p class="past">20.09</p>
        </div>
        <div class="week">
          <p class="past">21.09</p>
          <p class="past">22.09</p>
          <p class="wrw">23.09</p>
          <p class="past">24.09</p>
          <p class="lesson past">25.09</p>
          <p class="past">26.09</p>
          <p class="past">27.09</p>
        </div>
        <div class="week">
          <p class="past">28.09</p>
          <p class="past">29.09</p>
          <p class="lesson past">30.09</p>
          <p class="past">01.10</p>
          <p class="lesson past">02.10</p>
          <p class="past">03.10</p>
          <p class="past">04.10</p>
        </div>
        <div class="week">
          <p class="past">05.10</p>
          <p class="past">06.10</p>
          <p class="lesson">07.10</p>
          <p>08.10</p>
          <p>09.10</p>
          <p>10.10</p>
          <p>11.10</p>
        </div>
        <div class="week">
          <p>12.10</p>
          <p>13.10</p>
          <p class="lesson">14.10</p>
          <p>15.10</p>
          <p>16.10</p>
          <p>17.10</p>
          <p>18.10</p>
        </div>
        <div class="week">
          <p>19.10</p>
          <p>20.10</p>
          <p class="lesson">21.10</p>
          <p>22.10</p>
          <p>23.10</p>
          <p>24.10</p>
          <p>25.10</p>
        </div>
        <div class="week">
          <p>26.10</p>
          <p>27.10</p>
          <p class="lesson">28.10</p>
          <p>29.10</p>
          <p>30.10</p>
          <p>31.10</p>
          <p>1.11</p>
        </div>
        <div class="week">
          <p>2.11</p>
          <p>3.11</p>
          <p class="lesson">4.11</p>
          <p>5.11</p>
          <p>6.11</p>
          <p>7.11</p>
          <p>8.11</p>
        </div>
        <div class="week">
          <p>9.11</p>
          <p>10.11</p>
          <p class="lesson">11.11</p>
          <p>12.11</p>
          <p>13.11</p>
          <p>14.11</p>
          <p>15.11</p>
        </div>
      </div>
    </section>
  </article>
</main>
</body>
</html>