[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
astpretty = "*"
httpie = "*"
ipython = "*"
pudb = "*"
pytest-selenium = "*"

[packages]
django = "*"

[requires]
python_version = "3.8"