
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Study Project Z33 :: Hello</title>
  <link href="/s/hello.css" rel="stylesheet" type="text/css">
  <link href="/s/theme_{{ theme }}.css" rel="stylesheet" type="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<form method="post" action="/theme">
  <button type="submit">Switch theme</button>
</form>
<hr>
<h1>Hello {{ name or "anonymous" }}!</h1>
{% if year %}
  <h1>You was born at {{ year }}!</h1>
{% endif %}
<div class="form-container">
  <form action="/hello-update" method="post">
    <div class="greet-form">
      <label class="{{ class_for_name }}" for="name-id" style="grid-area: gi-name-label">{{ label_for_name }}</label>
      <input placeholder="anonymous" id="name-id" name="name" style="grid-area: gi-name-input" type="text" value="{{ name or '' }}">
      <label class="{{ class_for_age }}" for="age-id" style="grid-area: gi-age-label">{{ label_for_age }}</label>
      <input placeholder="1488" id="age-id" name="age" style="grid-area: gi-age-input" type="text" value="{{ age or '' }}">
      <button id="greet-button-id" style="grid-area: gi-submit" type="submit">Greet</button>
    </div>
  </form>
</div>
<div class="form-container">
  <form action="/hello-reset" method="post">
    <button id="reset-button-id" style="width: 60%" type="submit">Reset</button>
  </form>
</div>
</body>
</html>