:root {
      --padding-left: 30px;
      --padding-top: 30px;
}

body {
      padding-left: var(--padding-left);
      padding-top: var(--padding-left);

}

.g {
      display: grid;
      grid-column-gap: 0.2rem;
      grid-row-gap: 1rem;
      grid-template-areas:
        "gi-name-label  gi-name-label"
        "gi-name-input  gi-empty-12"
        "gi-empty-21    gi-empty-22"
        "gi-age-label   gi-age-label"
        "gi-age-input   gi-empty-32"
        "gi-empty-41    gi-empty-42"
        "gi-submit      gi-empty-52";
}

.f > * {
      left: 0;
      margin: auto;
      padding-left: var(--padding-left);
      padding-top: var(--padding-top);
      position: absolute;
      width: 40%;
}

.error {
      background-color: darkred;
      color: white;
      font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
      padding: 1rem;
      height: 15px;
}

span:hover{
    text-decoration: underline;
}