body{

}

dir{
    background: #00FFFF;
    height: 50px;
}

#hello{
    margin-center: auto;
}
a{
    color: blue;
}

#h1{
    text-align: center;
}

.top{
    margin-right: 20px;
    text-align: center;
}
