.title {
    background: #fd3fgs;
    font-size: 20px;
    margin-bottom: 30px;
}

body {
    text-align: center;
}

dir{
    background: #00FFFF;
    height: 50px;
}

#a12 {
    background: white;
}

.catalog {
    text-align: justify;
}

a {
    color: green;
}