body{
    background-image: url(static/1.jpg);
}

#h11{
    text-align: center;
}

.top{
    background: #00FFFF;
    color: blue;
    padding: 2px;
    text-align: center;
}

.hello{
    text-align: center;
    border: 2px solid black;
    height: 25px;
    width: 220px;
    margin-left: 800px;
}

.hello:hover{
    border: 5px solid black;
}